<launch>

    <node pkg="leg_detector" type="leg_detector" name="leg_detector_front" args="scan:=sick_laser_front/scan $(find leg_detector)/config/trained_leg_detector.yaml" output="screen">
        <param name="fixed_frame" type="string" value="sick_laser_front" />
    </node>
    
    <node pkg="leg_detector" type="leg_detector" name="leg_detector_rear" args="scan:=sick_laser_rear/scan $(find leg_detector)/config/trained_leg_detector.yaml" output="screen">
        <param name="fixed_frame" type="string" value="sick_laser_rear" />
    </node>

</launch>

